<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanqiao.library_final_project.mapper.UserInfoMapper">

    <select id="pagequery" resultType="cn.lanqiao.library_final_project.module.pojo.UserInfo">
        select * from user_info
        <where>
            <if test="username!=null and username!=''">
                and username like concat('%',#{username},'%')
            </if>
            <if test="name!=null and name!=''">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>
    <!-- UserMapper.xml -->
    <select id="selectByUsername" resultType="cn.lanqiao.library_final_project.module.pojo.UserInfo">
        SELECT aid, username, name, password, email, phone, status, lend_num, max_num
        FROM user_info
        WHERE username = #{username}
    </select>


    <update id="updateUser" parameterType="cn.lanqiao.library_final_project.module.dto.UserDto">
        UPDATE user_info
        SET name = #{name},
            email = #{email},
            phone = #{phone},
            password = #{password} -- 确保这里会更新密码字段
        WHERE username = #{username}
    </update>
</mapper>
